@import '../../../theme/variables.less';

.heatmap-chart {
  margin-bottom: @gap-lg;

  .chart-title {
    font-size: @fs-md;
    color: @text;
    margin-bottom: @gap-sm;
  }

  .chart-box {
    width: 100%;
  }
}
